<footer class="bg-red-light dark:bg-red-dark p-4 sm:min-h-25">
  <div class = "container mx-auto max-w-4xl grid gap-2 grid-cols-1 sm:grid-cols-2 place-items-center">  
    <div class="sm:col-span-2">
        <h5 class="font-semibold text-white">Other MSSB Links</h5>
    </div>
    <div>
        <a href="https://projectrio.online" class="hover:underline text-white">Project Rio</a>
    </div>
    <div>
        <a href="https://reddit.com/r/MarioBaseball/comments/rohg6j/competitive_mario_superstar_baseball_the_master/?utm_source=share&utm_medium=web2x&context=3"
           class="hover:underline text-white">Competitive Guide</a>
    </div>
  </div>
</footer>
