{% extends "base.html" %}
{% block title %}Home - MSSB Tools{% endblock %}
{% block content %}
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="text-center">
                <h1 class="text-5xl tracking-tight text-balance">
                    Mario Superstar Baseball Tools
                </h1>
                <p class="mt-8 font-medium text-pretty ">
                    A Baseball Savant-inspired stat tool for all characters in the game as
                    well as a draft tool for individual games and leagues
                </p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="{% url 'stats:index' %}"class="btn btn-primary">
                        <span class="drop-shadow">Stats</span>
                    </a>
                    <a href="#{% comment %} {% url 'draft:index' %} {% endcomment %}" class="btn btn-primary">
                        <span class="drop-shadow">Draft</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
