{% extends "base.html" %}
{% block title %}{{ character.name }}{% endblock %}
{% load variant_tags %}
{% block content %}
<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
    <div class="card card-xl w-full card-border shadow-sm">
        <figure class="px-10 pt-10">
            <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes"
            class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
            <h2 class="card-title">{{ character.name }}</h2>
            <p>Intangables will go here</p>
        </div>
    </div>

  <div class="card card-md w-full card-border shadow-sm">
    <div class="card-body">
      <img src="/media/{{ character.icon.path }}" alt="{{ character.name }} image" class="w-24 h-24 mx-auto">
      <p>this is where the stat bars will go.  Icon will be removed </p>
    </div>
  </div>

  <div class="card card-xl w-full card-border shadow-sm">
    <div class="card-body">
        <h2 class="card-title">Chemistry</h2>
        <div class="grid grid-cols-3 gap-1">
            {% for chem in chem %}
                <a href="{% url 'stats:detail' char_name=chem.name|slugify %}" class="flex flex-col items-center text-center">
                    <img class="w-24 h-24" src="/media/{{ chem.icon.path }}" alt="{{ chem.name }}">
                </a>
            {% endfor %}
        </div>
        <h2 class="card-title">Anti-Chemistry</h2>
        <div class="grid grid-cols-3 gap-1">
            {% for chem in anti_chem %}
                <a href="{% url 'stats:detail' char_name=chem.name|slugify %}" class="flex flex-col items-center text-center">
                    <img class="w-24 h-24" src="/media/{{ chem.icon.path }}" alt="{{ chem.name }}">
                </a>
            {% endfor %}
        </div>
        {% if character.variants.exists %}
        <h2 class="card-title">Variants</h2>
        <div class="grid grid-cols-3 gap-1">
            {% for variant in character.variants.all %}
                <a href="{% url 'stats:detail' char_name=variant.name|slugify %}" class="flex flex-col items-center text-center">
                    <img class="w-24 h-24" src="/media/{{ variant.icon.path }}" alt="{{ variant.name }}">
                    {% if variant.icon == character.icon %}
                        <div class="badge badge-xs badge-outline {{ variant.name|identifier|badge_color }}">{{ variant.name|identifier }}</div>
                    {% endif %}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}