{% extends "base.html" %}
{% block title %}Stats{% endblock %}
{% load variant_tags %}
{% block content %}
<div class="container mx-auto px-4 py-8 grid place-items-center text-center grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-6">
{% for character in char_list %}
  <div class="card card-md w-full h-50 card-border shadow-sm">
    <a href="{% url 'stats:detail' char_name=character.name|slugify %}" class="block">
      <div class="card-body">
          <img src="/media/{{ character.icon.path }}" alt="{{ character.name }} icon" class="w-24 h-24 mx-auto">
          <h2 class="card-title justify-center">{{ character.name }}</h2>
        {% if character.variants.exists %}
          <div class="card-actions justify-center">
            {% for variant in character.variants.all %}
              {% if variant.id != character.id %} 
                <a href="{% url 'stats:detail' char_name=variant.name|slugify %}"
                    class="badge badge-xs badge-outline {{ variant.name|identifier|badge_color }}">
                  {{ variant.name|identifier }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}
</div>
{% endblock %}